<html>
    <head>
        {% if title %}
            <title>{{ title }} - crm</title>
        {% else %}
            <title>crm</title>
        {% endif %}
    </head>
    <body>
        <div>
        AVP:
        <a href="{{ url_for('index') }}">Accueil</a>
        <a href="{{ url_for('dash') }}">Analyse des contrats</a>
        <a href="{{ url_for('dash2') }}">Analyse des ventes</a>
        <a href="{{ url_for('dash3') }}">Détail par entreprises</a>
        <a href="{{ url_for('create_contact') }}">Créer un nouveau contact</a>
        <a href="{{ url_for('create_note') }}">Créer une note</a>



        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
        {% block content %}{% endblock %}
    </body>
</html>